{% extends 'base_auth.html'%}
{%load static %}

{% block content%}
<div class="row ">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5 " style="margin: 0 auto; float: none;margin-bottom: 10px;">
           
            <div class="card-body">
                <div class="card-title py-3">
                    <h4>  Enter your email to get reset link</h4>
                </div>

                <form action="{%url 'forgot-password'%}" method="post">
                    {%csrf_token%}

                    {%include 'partials/_messages.html'%}

                    <div class="form-floating mb-3">
                        <input type="email" name="email" id="emailField" placeholder="Email"  class="form-control form-contorl-sm" value ="{{values.email}}">
                        <label for="floatingInput">Your Email</label>
                    </div>

                        <div class="d-grid gap-2 col-6 mx-auto  mt-5">
                            <input type="submit" value="Request" class="btn btn-block btn-outline-primary register-btn">
                        </div>
                        <div class="mt-5">
                         
                            <p>Already Register? Login <a href="{%url 'login'%}">Here!</a></p>
                                <p>Dont have an Account? <span>  <a href="{%url 'register'%}">Register Here!</a></span></p>
                           
                        </div>
                      

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<script type="application/javascript" src="{% static 'js/registration.js' %}"></script>
{%endblock%}